{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h2 class="text-center admin text-primary font-weight-bold pb-5" style="padding-top: 11rem">Add Plan</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label font-weight-bold">Name</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="amount" class="col-sm-2 col-form-label font-weight-bold">Amount(In Nu)</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                </div>

            </div>
            <div class="form-group row">
                <label for="duration" class="col-sm-2 col-form-label font-weight-bold">Duration</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="duration" name="duration" placeholder="Duration" required>
                </div>
            </div>
            <div class="row">
               <div class="col-md-2">

               </div>
               <div class="col-md-8 pb-2">
                   <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Add Plan</button>

               </div>
           </div>

        </form>

    </div>


    {% ifequal error "no" %}
        <script>
        alert("Data saved successfully!")
        window.location=("view_plan")
        </script>

    {% endifequal %}
    {% ifequal error "yes" %}
        <script>
        alert("Something went wrong, Try again!")
        </script>

    {% endifequal %}
{% endblock content %}