{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="min-height: 100vh">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-primary font-weight-bold pb-5 text-center"
                    style="padding-top: 6rem;text-align: right!important;">View Query</h2>
            </div>
            <div class="col-md-6">
                <h5 class="text-center text-primary font-weight-bold pb-5"
                    style="padding-top: 6rem;text-align: right!important"><a href="/"><span
                        class="fa fa-arrow-circle-o-left text-dark"></span> DashBoard</a></h5>
            </div>

        </div>
        <table id="example" class="table" >
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Message</th>
                <th scope="col">Remove</th>

            </tr>
            </thead>
            <tbody>
            {% for i in query %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.msg }}</td>

                    <td><a class="btn btn-danger" href="/delete_query/{{ i.id }}" onclick="return confirm('Are you sure')">Delete</a> </td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}